h3
  | 营销活动列表
  a.pull-right.btn.btn-sm.btn-labeled.btn-info(ui-sref="app.campaign()") 
    span.btn-label
      i.icon-plus
    | 新增
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入活动标题", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr.text-center(ng-repeat='entity in $data' ui-sref='app.campaign({campaignId: entity.id})')
            td(data-title="'标题'") {{entity.title}}
            td(data-title="'开始时间'") {{entity.date_info.begin_timestamp | moment_unix}}
            td(data-title="'结束时间'") {{entity.date_info.end_timestamp | moment_unix}}
            td(data-title="'活动门店'") {{entity.location_id_list.length || '全部'}}
            td(data-title="'注册日期'") {{entity.created | moment}}