h3
  | 卡卷列表
  a.pull-right.btn.btn-sm.btn-labeled.btn-info(ui-sref="app.card()") 
    span.btn-label
      i.icon-plus
    | 新增
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入卡卷标题", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr.text-center(ng-repeat='entity in $data', ui-sref='app.card({cardId: entity.id})')
            td.text-left(data-title="'类型'") {{entity.card_type| uppercase | card_type}}
            td.text-left(data-title="'标题'") {{entity.title}}
            td(data-title="'编号'") {{entity.id}}
            td(data-title="'有效期'") {{entity.date_info | card_date_info}}
            td(data-title="'状态'") {{entity.status | card_status}}
            td.text-right(data-title="'库存'") {{entity.sku.quantity}}
            td.text-right(data-title="'创建日期'") {{entity.create_time | moment_unix}}