h3
  | 卡卷统计
  
.container-fluid
  // statistic campaign client
  .panel.panel-default
    .panel-heading
      a.pull-right.btn.btn-sm.btn-info(ng-mousedown='csv.generate()', ng-href='{{ csv.link() }}', download='client.csv') 导出
      .panel-title 活动用户汇总
      
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableClient', export-csv='csv')
        tbody
          tr.text-center(ng-repeat='entity in $data')
            td(data-title="'序号'") {{$index+1}}
            td(data-title="'地市'") {{entity._id}}
            td(data-title="'参与人数'") {{entity.clientCount || 0}}
            td(data-title="'抽奖人次'") {{entity.count || 0}}
          tr.text-center.text-primary
            td 总计
            td
            td {{summaryClient.clientCount}}
            td {{summaryClient.count}}
  
  
  //statistic city
  .panel.panel-default
    .panel-heading
      a.pull-right.btn.btn-sm.btn-info(ng-mousedown='csv.generate()', ng-href='{{ csv.link() }}', download='city.csv') 导出
      .panel-title 地市汇总

    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams', export-csv='csv1')
        tbody
          tr.text-center(ng-repeat='entity in $data')
            td(data-title="'序号'") {{$index+1}}
            td(data-title="'地市'") {{entity._id || "其他"}}
            td(data-title="'20元核销'") {{entity.consumed_card0 || 0}}
            td(data-title="'20元转赠'") {{entity.donated_card0 || 0 }}
            td(data-title="'20元参与'") {{entity.count_card0 || 0}}
            td(data-title="'30元核销'") {{entity.consumed_card1 || 0}}
            td(data-title="'30元转赠'") {{entity.donated_card1 || 0 }}
            td(data-title="'30元参与'") {{entity.count_card1 || 0}}
            td(data-title="'40元核销'") {{entity.consumed_card2 || 0}}
            td(data-title="'40元转赠'") {{entity.donated_card2 || 0 }}
            td(data-title="'40元参与'") {{entity.count_card2 || 0}}
            td(data-title="'50元核销'") {{entity.consumed_card3 || 0}}
            td(data-title="'50元转赠'") {{entity.donated_card3 || 0 }}
            td(data-title="'50元参与'") {{entity.count_card3 || 0}}
            td(data-title="'60元核销'") {{entity.consumed_card4 || 0}}
            td(data-title="'60元转赠'") {{entity.donated_card4 || 0 }}
            td(data-title="'60元参与'") {{entity.count_card4 || 0}}
            td(data-title="'70元核销'") {{entity.consumed_card5 || 0}}
            td(data-title="'70元转赠'") {{entity.donated_card5 || 0 }}
            td(data-title="'70元参与'") {{entity.count_card5 || 0}}
            td(data-title="'100元核销'") {{entity.consumed_card6 || 0}}
            td(data-title="'100元转赠'") {{entity.donated_card6 || 0 }}
            td(data-title="'100元参与'") {{entity.count_card6 || 0}}
            td(data-title="'200元核销'") {{entity.consumed_card7 || 0}}
            td(data-title="'200元转赠'") {{entity.donated_card7 || 0 }}
            td(data-title="'200元参与'") {{entity.count_card7 || 0}}
            td(data-title="'500元核销'") {{entity.consumed_card8 || 0}}
            td(data-title="'500元转赠'") {{entity.donated_card8 || 0 }}
            td(data-title="'500元参与'") {{entity.count_card8 || 0}}
            td(data-title="'总计参与'") {{entity.count || 0}}
          tr.text-center.text-primary
            td 总计
            td
            td(ng-repeat='key in cityKeys') {{summary[key]}}
            
  // statistic poi
  .panel.panel-default
    .panel-heading
      a.pull-right.btn.btn-sm.btn-info(ng-mousedown='csv.generate()', ng-href='{{ csv.link() }}', download='poi.csv') 导出
      .panel-title 油站核销汇总
      
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tablePoi', export-csv='csv2')
        tbody
          tr.text-center(ng-repeat='entity in $data')
            td(data-title="'序号'") {{$index+1}}
            td(data-title="'地市'") {{entity._id && entity._id.city || "其他"}}
            td.text-left(data-title="'加油站'") {{entity._id && entity._id.name || "其他"}}
            td(data-title="'20元'") {{entity.count_card0 || 0}}
            td(data-title="'30元'") {{entity.count_card1 || 0}}
            td(data-title="'40元'") {{entity.count_card2 || 0}}
            td(data-title="'50元'") {{entity.count_card3 || 0}}
            td(data-title="'60元'") {{entity.count_card4 || 0}}
            td(data-title="'70元'") {{entity.count_card5 || 0}}
            td(data-title="'100元'") {{entity.count_card6 || 0}}
            td(data-title="'200元'") {{entity.count_card7 || 0}}
            td(data-title="'500元'") {{entity.count_card8 || 0}}
            td(data-title="'总计核销'") {{entity.count || 0}}
          tr.text-center.text-primary
            td 总计
            td 
            td
            td {{summaryPoi.count_card0}}
            td {{summaryPoi.count_card1}}
            td {{summaryPoi.count_card2}}
            td {{summaryPoi.count_card3}}
            td {{summaryPoi.count_card4}}
            td {{summaryPoi.count_card5}}
            td {{summaryPoi.count_card6}}
            td {{summaryPoi.count_card7}}
            td {{summaryPoi.count_card8}}
            td {{summaryPoi.count}}
  
