h3
  | 优惠券记录
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入优惠卷编号", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr.text-center(ng-repeat='entity in $data')
            td(data-title="'优惠卷编号'") {{entity.cancel_code}}
            td(data-title="'优惠卷名称'") {{entity.coupon.title}}
            td(data-title="'申领用户'") {{entity.wxuser.nickname}}
            td(data-title="'申领日期'") {{entity.add_time | moment_unix}}
            td(data-title="'是否核销'") {{entity.is_use ? '已核销' : '未核销'}}
