h3
  | 优惠券记录
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入优惠卷编号", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr(ng-repeat='entity in $data' ui-sref='app.coupon-record({recordId: entity.id})')
            td(data-title="'优惠卷编号'") {{entity.email}}
            td(data-title="'优惠卷名称'") {{entity.name}}
            td(data-title="'类型'") {{entity.job}}
            td(data-title="'申领用户'") {{entity.phone}}
            td(data-title="'申领日期'") {{entity.created | moment}}
            td(data-title="'是否核销'") {{entity.email}}
