h3 
  | 核销对账清单
  a(type='button' ng-click='try()').btn.btn-primary.pull-right.mr-sm
    em.fa.fa-calculator.fa-fw.mr-sm
    | 生成对账清单
  .pull-right.col-sm-6
    .col-sm-6
      p.input-group
        input.form-control(type='text', datepicker-popup='yyyy-MM-dd', ng-model="beginDate", is-open='openeds[1]', max-date="'2015-06-22'", ng-required='true', close-text='Close')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open($event, 1)')
            em.fa.fa-calendar  
    .col-sm-6
      p.input-group
        input.form-control(type='text', datepicker-popup='yyyy-MM-dd', ng-model="endDate", is-open='openeds[0]', max-date="'2015-06-22'", ng-required='true', close-text='Close')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open($event, 0)')
            em.fa.fa-calendar

.panel
  .panel-body
    //- button(type="button").pull-right.btn.btn-default.btn-sm Copy this invoice
    h3.mt0 对账单 
    hr

    .row.mb-lg
      .col-lg-4.col-xs-6.br.pv
        .row
          .col-md-2.text-center.visible-md.visible-lg
            em.fa.fa-bookmark-o.fa-4x.text-muted
          .col-md-10
            h2 
              | {{entities.length}} 
              small 张
            p 累计核销优惠卷  
      .col-lg-4.col-xs-6.br.pv
        .row
          .col-md-2.text-center.visible-md.visible-lg
            em.fa.fa-rmb.fa-4x.text-muted
          .col-md-10
            h2 
              | {{discountAmount}} 
              small 元
            p 累计优惠金额
      .clearfix.hidden-md.hidden-lg
        hr
      .col-lg-4.col-xs-12.pv
        .clearfix
          p.pull-left 对账单号
          p.pull-right.mr {{moment()}}
        .clearfix
          p.pull-left 起始日期
          p.pull-right.mr {{beginDate}}
        .clearfix
          p.pull-left 截至日期
          p.pull-right.mr {{endDate}}
    .table-responsive.table-bordered.mb-lg
      table.table
        thead
          tr
            th 优惠卷编号
            th 优惠券名称
            th 申领时间
            th 核销时间
            th 核销加油站
            th.text-right 折扣金额
        tbody
          tr(ng-repeat='entity in entities')
            td {{entity.cancel_code}}
            td {{entity.coupon.title|| entity.card_id}}
            td {{entity.add_time | moment_unix}}
            td {{entity.use_time | moment_unix}}
            td {{entity.company.name || '远程核销'}}
            td.text-right {{entity.coupon.reduce_cost || 0}}

    .row
      .col-sm-offset-8.col-sm-4.pv
        //- .clearfix
        //-   p.pull-left Subtotal
        //-   p.pull-right.mr $ 10300
        //- .clearfix
        //-   p.pull-left Tax (21%)
        //-   p.pull-right.mr $ 2700
        .clearfix
          p.pull-left.h3 总计
          p.pull-right.mr.h3 ¥ {{discountAmount}}

    hr.hidden-print
    .clearfix
      //- button(type="button").btn.btn-default.pull-left.mr 编辑
      button(type="button", onclick="window.print();").btn.btn-info.pull-left 
        em.fa.fa-print.fa-fw.mr-sm
        | 打印
      button(type="button").btn.btn-success.pull-right 
        em.fa.icon-share-alt.fa-fw.mr-sm
        | 发送