h3
  | 客户列表
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入用户名字", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr.text-center(ng-repeat='entity in $data')
            td(data-title="'头像'") 
              img.img-thumbnail.img-circle(ng-src="{{entity.headimgurl||'app/img/dummy.png'}}", alt="", width="44", height="44")
            td(data-title="'昵称备注'") {{entity.nickname+" "+entity.remark}}
            td(data-title="'性别'") {{entity.sex | wechat_sex}}
            td(data-title="'省份'") {{entity.province}} 
            td(data-title="'城市'") {{entity.city}}
            td(data-title="'关注时间'") {{entity.subscribe_time | moment_unix}}
