.block-center.mt-xl.wd-xl(ng-controller="LoginFormController")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv 登录系统
      form.form-validate(role='form', ng-submit="login()", name='loginForm', novalidate='').mb-lg
        .form-group.has-feedback
          input#exampleInputEmail1.form-control(type='email', name="account_email" placeholder='Enter email', autocomplete="off", ng-model="account.email", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="loginForm.account_email.$dirty && loginForm.account_email.$error.required") 这项不能为空
          span.text-danger(ng-show="loginForm.account_email.$dirty && loginForm.account_email.$error.email") 这项必须是合法的电子邮件地址
        .form-group.has-feedback
          input#exampleInputPassword1.form-control(type='password', name="account_password" placeholder='Password', ng-model="account.password", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="loginForm.account_password.$dirty && loginForm.account_password.$error.required") 这项不能为空
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', value='', name="account_remember", ng-model="account.remember")
              span.fa.fa-check
              |  记住我
          .pull-right
            a.text-muted(ui-sref="page.recover") 忘记密码？
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') 登录
      
      .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}
      a(ui-sref="page.register").btn.btn-block.btn-default 马上注册
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
