<h3>账户资料管理</h3>
<div ng-controller="AccountController" class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div class="col-md-12">
         <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
            <!-- START panel-->
            <div class="panel panel-default">
               <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
               <div class="panel-body">
                  <fieldset class="b0">
                     <legend>帐号资料</legend>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">帐号真名</label>
                        <div class="col-sm-6">
                           <input type="text" name="name" required="" ng-model="entity.name" class="form-control" />
                           <span ng-show="validateInput('name', 'required')" class="text-danger">帐号真名不能为空</span>
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted">必填</small>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">工作岗位</label>
                        <div class="col-sm-6">
                           <input type="text" name="job" required="" ng-model="entity.job" class="form-control" />
                           <span ng-show="validateInput('job', 'required')" class="text-danger">工作岗位不能为空</span>
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted">必填</small>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-6">
                           <input type="text" name="phone" required="" ng-model="entity.phone" class="form-control" />
                           <span ng-show="validateInput('phone', 'required')" class="text-danger">联系电话不能为空</span>
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted">必填</small>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">注册邮箱</label>
                        <div class="col-sm-6">
                           <p class="form-control-static">{{entity.email}}</p>
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted">不可修改</small>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                           <input type="text" name="password" ng-model="entity.password" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted">可选填</small>
                        </div>
                     </div>
                  </fieldset>
               </div>
               <div class="panel-footer text-center">
                  <button type="submit" class="mb-sm btn btn-lg btn-info">提交</button>
                  <button ui-sref="app.accounts()" class="mb-sm btn btn-lg btn-default">取消</button>
               </div>
            </div>
            <!-- END panel-->
         </form>
      </div>
   </div>
   <!-- END row-->
</div>