<h3>系统用户清单
   <a ui-sref="app.accounts-add" class="pull-right btn btn-sm btn-labeled btn-info">
      <span class="btn-label"><i class="icon-plus"></i>
      </span>新增</a>
   <from class="pull-right col-sm-3">
      <div class="input-group">
         <span class="input-group-addon">
            <div class="icon-magnifier"></div>
         </span>
         <input type="text" placeholder="输入用户名字" ng-model="filter.text" ui-keypress="{13:'tableParams.reload()'}" class="form-control" />
      </div>
   </from>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="entity in $data" ui-sref="app.account({accountId: entity.id})">
                  <td data-title="'用户名'">{{entity.email}}</td>
                  <td data-title="'用户真名'">{{entity.name}}</td>
                  <td data-title="'工作岗位'">{{entity.job}}</td>
                  <td data-title="'联系电话'">{{entity.phone}}</td>
                  <td data-title="'电子邮件'">{{entity.email}}</td>
                  <td data-title="'注册日期'">{{entity.created}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>