<h3>卡卷列表
   <from class="pull-right col-sm-3">
      <div class="input-group">
         <span class="input-group-addon">
            <div class="icon-magnifier"></div>
         </span>
         <input type="text" placeholder="输入卡卷标题" ng-model="filter.text" ui-keypress="{13:'tableParams.reload()'}" class="form-control" />
      </div>
   </from>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="entity in $data" ui-sref="app.account({accountId: entity.id})" class="text-center">
                  <td data-title="'类型'" class="text-left">{{entity.card_type| uppercase | card_type}}</td>
                  <td data-title="'标题'" class="text-left">{{entity.title}}</td>
                  <td data-title="'编号'">{{entity.id}}</td>
                  <td data-title="'有效期'">{{entity.date_info | card_date_info}}</td>
                  <td data-title="'状态'">{{entity.status | card_status}}</td>
                  <td data-title="'库存'" class="text-right">{{entity.sku.quantity}}</td>
                  <td data-title="'创建日期'" class="text-right">{{entity.create_time | moment_unix}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>