<h3>优惠券记录
   <from class="pull-right col-sm-3">
      <div class="input-group">
         <span class="input-group-addon">
            <div class="icon-magnifier"></div>
         </span>
         <input type="text" placeholder="输入优惠卷编号" ng-model="filter.text" ui-keypress="{13:'tableParams.reload()'}" class="form-control" />
      </div>
   </from>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="entity in $data" class="text-center">
                  <td data-title="'优惠卷编号'">{{entity.cancel_code}}</td>
                  <td data-title="'优惠卷名称'">{{entity.coupon.title}}</td>
                  <td data-title="'申领用户'">{{entity.wxuser.nickname}}</td>
                  <td data-title="'申领日期'">{{entity.add_time | moment_unix}}</td>
                  <td data-title="'是否核销'">{{entity.is_use ? '已核销' : '未核销'}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>