<h3>
   核销对账清单
   <a type="button" ng-click="try()" class="btn btn-primary pull-right mr-sm">
      <em class="fa fa-calculator fa-fw mr-sm"></em>生成对账清单</a>
   <div class="pull-right col-sm-6">
      <div class="col-sm-6">
         <p class="input-group hidden-print">
            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="beginDate" is-open="openeds[1]" max-date="endDate" ng-required="true" close-text="Close" class="form-control" />
            <span class="input-group-btn">
               <button type="button" ng-click="open($event, 1)" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
               </button>
            </span>
         </p>
      </div>
      <div class="col-sm-6">
         <p class="input-group hidden-print">
            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="endDate" is-open="openeds[0]" max-date="endDate" ng-required="true" close-text="Close" class="form-control" />
            <span class="input-group-btn">
               <button type="button" ng-click="open($event, 0)" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
               </button>
            </span>
         </p>
      </div>
   </div>
</h3>
<div class="panel">
   <div class="panel-body">
      <h3 class="mt0">对账单</h3>
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-3 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-2 text-center visible-md visible-lg">
                  <em class="fa fa-bookmark-o fa-4x text-muted"></em>
               </div>
               <div class="col-md-10">
                  <h2>
                     {{entities.length}}
                     <small>张</small>
                  </h2>
                  <p>累计核销优惠卷</p>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-2 text-center visible-md visible-lg">
                  <em class="fa fa-rmb fa-4x text-muted"></em>
               </div>
               <div class="col-md-10">
                  <h2>
                     {{discountAmount}}
                     <small>元</small>
                  </h2>
                  <p>累计优惠金额</p>
               </div>
            </div>
         </div>
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-3 col-xs-6 br pv">
            <div class="clearfix">
               <p class="pull-left">地市</p>
               <select ng-model="region.city" ng-options="c.name for c in region.province.sub" class="pull-right">
                  <option value="">全部地市</option>
               </select>
            </div>
            <div class="clearfix">
               <p class="pull-left">区县</p>
               <select ng-model="region.district" ng-options="d.name for d in region.city.sub" class="pull-right">
                  <option value="">全部区县</option>
               </select>
            </div>
            <div class="clearfix">
               <p class="pull-left">加油站</p>
               <select ng-model="gasstation" ng-options="g.name for g in gasstations" class="pull-right">
                  <option value="">全部加油站</option>
               </select>
            </div>
         </div>
         <div class="col-lg-3 col-xs-6 br pv">
            <div class="clearfix">
               <p class="pull-left">对账日期</p>
               <p class="pull-right mr">{{reconciliateDate}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">起始日期</p>
               <p class="pull-right mr">{{beginDate}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">截至日期</p>
               <p class="pull-right mr">{{endDate}}</p>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
            <thead>
               <tr>
                  <th>优惠卷编号</th>
                  <th>优惠券名称</th>
                  <th>申领用户</th>
                  <th>申领时间</th>
                  <th>核销时间</th>
                  <th>核销加油站</th>
                  <th class="text-right">折扣金额</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="entity in entities">
                  <td>{{entity.cancel_code}}</td>
                  <td>{{entity.coupon.title|| '匿名卡卷'}}</td>
                  <td>{{entity.wxuser.remark || entity.wxuser.nickname}}</td>
                  <td>{{entity.add_time | moment_unix}}</td>
                  <td>{{entity.use_time | moment_unix}}</td>
                  <td>{{entity.company.name || '远程核销'}}</td>
                  <td class="text-right">{{entity.coupon.reduce_cost || 0}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row">
         <div class="col-sm-offset-8 col-sm-4 pv">
            <div class="clearfix">
               <p class="pull-left">小计</p>
               <p class="pull-right mr">¥ {{discountAmount}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">手工修正</p>
               <input type="number" ng-model="manualAmount" class="pull-right text-right" />
            </div>
            <div class="clearfix">
               <p class="pull-left h3">总计</p>
               <p class="pull-right mr h3">¥ {{discountAmount + manualAmount}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-offset-8 col-sm-4 pv">
            <div class="clearfix">
               <p class="pull-left h5">对账人：</p>
            </div>
         </div>
      </div>
      <hr class="hidden-print" />
      <div class="clearfix">
         <button type="button" onclick="window.print();" class="btn btn-info pull-left">
            <em class="fa fa-print fa-fw mr-sm"></em>打印</button>
         <button type="button" class="btn btn-success pull-right">
            <em class="fa icon-share-alt fa-fw mr-sm"></em>发送</button>
      </div>
   </div>
</div>