<h3 class="hidden-print">
   核销对账单
   <a type="button" ng-click="try()" class="btn btn-primary pull-right mr-sm">
      <em class="fa fa-calculator fa-fw mr-sm"></em>生成对账清单</a>
   <div class="pull-right col-sm-6">
      <div class="col-sm-6">
         <p class="input-group">
            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="beginDate" is-open="openeds[1]" max-date="endDate" ng-required="true" close-text="Close" class="form-control" />
            <span class="input-group-btn">
               <button type="button" ng-click="open($event, 1)" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
               </button>
            </span>
         </p>
      </div>
      <div class="col-sm-6">
         <p class="input-group">
            <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="endDate" is-open="openeds[0]" max-date="endDate" ng-required="true" close-text="Close" class="form-control" />
            <span class="input-group-btn">
               <button type="button" ng-click="open($event, 0)" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
               </button>
            </span>
         </p>
      </div>
   </div>
</h3>
<div class="panel">
   <div class="panel-body">
      <h3 class="mt0">核销对账清单</h3>
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-4 col-xs-4 br pv">
            <div class="row">
               <div class="col-md-2 text-center visible-md visible-lg">
                  <em class="fa fa-bookmark-o fa-4x text-muted"></em>
               </div>
               <div class="col-md-10">
                  <h2>
                     {{entities.length}}
                     <small>张</small>
                  </h2>
                  <p>累计核卡卷</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-xs-4 br pv">
            <div class="clearfix">
               <p class="pull-left">地市</p>
               <p class="pull-right mr">{{region.city}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">区县</p>
               <p class="pull-right mr">{{region.district}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">加油站</p>
               <p class="pull-right mr">{{gasstation.name}}</p>
            </div>
         </div>
         <div class="col-lg-4 col-xs-4 br pv">
            <div class="clearfix">
               <p class="pull-left">对账日期</p>
               <p class="pull-right mr">{{reconciliateDate | date}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">起始日期</p>
               <p class="pull-right mr">{{beginDate | date}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">截至日期</p>
               <p class="pull-right mr">{{endDate | date}}</p>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
            <thead>
               <tr>
                  <th>优惠卷编号</th>
                  <th>优惠券名称</th>
                  <th>类型</th>
                  <th>申领客户</th>
                  <th>申领时间</th>
                  <th>核销时间</th>
                  <th>核销加油站</th>
                  <th class="text-right">折扣金额</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="entity in entities">
                  <td>{{entity.cancel_code}}</td>
                  <td>{{entity.coupon.title || '非正式卡卷'}}</td>
                  <td>{{entity.coupon.type | coupon_type }}</td>
                  <td>{{entity.wxuser.remark || entity.wxuser.nickname || "匿名客户"}}</td>
                  <td>{{entity.add_time | moment_unix}}</td>
                  <td>{{entity.use_time | moment_unix}}</td>
                  <td>{{entity.company.name || '远程核销'}}</td>
                  <td class="text-right">{{(entity.coupon.reduce_cost || 0) /100 | currency}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row">
         <div class="col-xs-6 pv">
            <div class="clearfix">
               <p class="pull-left">礼品小计</p>
               <p class="pull-right mr">{{giftAmount}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">礼品修正</p>
               <p class="pull-right mr">{{manualGiftAmount}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left h3">礼品总计</p>
               <p class="pull-right mr h3">{{giftAmount+manualGiftAmount}}</p>
            </div>
         </div>
         <div class="col-xs-6 pv">
            <div class="clearfix">
               <p class="pull-left">折扣小计</p>
               <p class="pull-right mr">{{discountAmount/100 | currency}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">折扣修正</p>
               <p class="pull-right mr">{{manualAmount/100 | currency}}</p>
            </div>
            <div class="clearfix">
               <p class="pull-left h3">折扣总计</p>
               <p class="pull-right mr h3">{{(discountAmount + manualAmount)/100 | currency}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6 pv">
            <div class="clearfix">
               <p class="pull-left h3">备注：</p>
               <p class="mr">{{memo}}</p>
            </div>
         </div>
         <div class="col-sm-6 pv">
            <div class="clearfix">
               <p class="pull-left h3">对账人：</p>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
      <hr class="hidden-print" />
      <div class="clearfix">
         <button type="button" ng-click="showEdit()" class="btn btn-default pull-left mr">
            <em class="fa fa-edit fa-fw mr-sm"></em>编辑</button>
         <button type="button" onclick="window.print();" class="btn btn-info pull-right mr">
            <em class="fa fa-print fa-fw mr-sm"></em>打印</button>
         <script type="text/ng-template" id="adjustDiscountAmountModalId">
            <div class="ngdialog-message"><form><legend>编辑对账单</legend><div class="form-group"><label>折扣修正</label><div class="input-group"><span class="input-group-addon">¥</span><input type="number" placeholder="加负号减少折扣额" ng-model="data.amount" class="form-control text-right"/><span class="input-group-addon">.00</span></div></div><div class="form-group"><label>礼品修正</label><input type="number" placeholder="加负号减少数量" ng-model="data.gifts" class="form-control text-right"/></div><div class="form-group"><label>备注</label><textarea rows="3" ng-model="data.memo" class="form-control"></textarea></div><div class="pull-right"><button type="button" ng-click="confirm(data)" class="btn btn-primary mr">确定</button><button type="button" ng-click="closeThisDialog('button')" class="btn btn-default mr">取消  </button></div><div class="clearfix"></div></form></div>
         </script>
      </div>
   </div>
</div>