<h3>客户列表
   <from class="pull-right col-sm-3">
      <div class="input-group">
         <span class="input-group-addon">
            <div class="icon-magnifier"></div>
         </span>
         <input type="text" placeholder="输入用户名字" ng-model="filter.text" ui-keypress="{13:'tableParams.reload()'}" class="form-control" />
      </div>
   </from>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="entity in $data" class="text-center">
                  <td data-title="'用户头像'">
                     <img ng-src="{{entity.headimgurl}}" alt="" width="60" height="60" class="img-thumbnail img-circle" />
                  </td>
                  <td data-title="'用户昵称'">{{entity.nickname}}</td>
                  <td data-title="'用户备注'">{{entity.remark}}</td>
                  <td data-title="'性别'">{{entity.sex | wechat_sex}}</td>
                  <td data-title="'地区'">{{entity.country}} {{entity.province}} {{entity.city}}</td>
                  <td data-title="'语言'">{{entity.language | language}}</td>
                  <td data-title="'注册日期'">{{entity.subscribe_time | moment_unix}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>